/* Dark theme start */

.section-top {
    display: flex;
    justify-content: center;

    transition: all .5s;
  }

  body {
    transition: all .5s;
    background-color: #2B234C;
  }
  
  .section-top__container {
    width: 474px;
  }

  .cat-bg {
    border-radius: 5px;
    width: 100%;
  }
  
  .section-top__title {
    font-family: "Arial";
    font-weight: 600;
    text-align: center;
    color: #fff;
    margin: 35px 0 35px;
    font-size: calc(20px + 2 * (( 100vw - 320px ) / ( 1280 - 320 )));
  }
  
  .butt {
    background-color: #2B234C;
    color: #FFF;

    text-decoration: none;
    text-transform: uppercase;

    max-width: 100%;
    padding: 20px 0 20px;
    display: block;
    border-radius: 8px;

    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: calc(15px + 1 * ((100vw - 320px) / (1280 - 320)));

    box-shadow: 0px 1px 10px rgba(43, 35, 76, 0.3);
    
    position: relative;
    transition: .5s;
    overflow: hidden;
  }
  
  .butt::after {
    opacity: 1;
    transition-delay: .2s;
  }
  
  .butt:hover {
    background-color: #8a39a0;
  }
  
  .butt:hover::before,
  .butt:hover::after {
    left: 0;
  }
  
  .pulse {
    background-color: #D259F5;
    border-radius: 50%;
    -webkit-animation: pulse 0.7s ease-out;
            animation: pulse 0.7s ease-out;
    transform: scale(0);
    position: absolute;
  }
  
  @keyframes pulse {
    to {
      transform: scale(2);
      background-color: #fff;
      opacity: 0;
    }
  }

  .btn-cancel {
    background: inherit;
    color: #D259F5;

    cursor: pointer;
    border: 0;

    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;

    display: block;
    padding: 18px 20px;
    margin: 0 auto;

    transition: color .2s linear;
  }
  
  .btn-cancel:hover {
    background: inherit;
    color: #fff;
  }
    
  /* Media */
  
  @media (max-width: 576px) {
    .section-top__title {
      margin: 25px 0 25px;
    }
  }
  @media (max-width: 320px) {
    .section-top__title {
      margin: 15px 0 15px;
    }

    .butt {
      padding: 12px 0 px;
    }
  }

  /* Dark theme end */
