// Import example start

@import "normalize.scss";

// Import example end

//*------------------------------------------------------------------

// Variables example start

$color: #fff;
$color2; #000;

.example__variables {
   background-color: $color;
   color: $color2;
}

// Variables end

//*------------------------------------------------------------------

// Patterns start

%tlpborder{ // лучше помешать вверх проекта к импортам
   border-bottom: 5px dashed red;
   font-size: 7px;
}

.tlpborder { //Тоже вариант создания шаблона через dot и создание класса которого нет в inex.html
   font-size: 7px;
}

.link { //К примеру нужно использовать шаблон к этой ссылке, как это сделать ? см ниже
   @extend %tlpborder;
   font-size: 20px; //некоторые значения можно менять поверх шаблона, здесь. т.е. border останется как в шаблоне а размер шрифта поменяется
}

// Patterns end

//*------------------------------------------------------------------

// mixins start

@mixin fontz ($fz, $cl, $bord) {
   font-size: $fz;
   color: $cl;
   border-radius: $bord;
}

.link {
   @include fontz(150px, red, 50px); //Можно менять значения переменных на любые, миксины могут быть более сложными
}


// mixins end

//*------------------------------------------------------------------

// Матан start

.link {
   width: 300px / 960px * 100% ; // TODO Представим себе что контентная часть макета занимает 960px, а размер блока 300px, но я хочу указать это дело в %
                                //! Решение 300px / 960px * 100%  = 31%
   background-color: black; //Цвет блока, займет всю ширину
}

// Матан end

//*------------------------------------------------------------------

// Комментирование start

//! Комментарий с двумя слэшами, не попадёт в Css файл при компилировании в отличии от такого /* коммент */

// Комментирование end

//*------------------------------------------------------------------



