h1 {
  font-size: 40px; /* После операции ниже, удаляем, либо коментируем fs */
  font-weight: 900;
  font-size: calc(24px + 16 * (100vw / 1280));
  /* 1. Отнимаем от размера шрифта по макету (40px)
                                     минимальный размер шрифта (при 320px получилось 24px)
                                     40-24=16(px) 2. привязываемся к ширине экрана 100vw - это значение берёт
                                     чётко ширину вьюпорта. 3. Делим на ширину макета (1280px в данном макете). 
                                     Изначально текст ставим fs по макету и уменьшаем вьюпорт до 320px и далее в
                                     google инструментах, уменьшаем размер текста, пока он не станет приемлимым
                                     */
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320) / 1280));
    /* Отнимаем граничное значение 320px 
       Компенсируем далее отнятное значение, в добавочном числе
    */
  }
}

/* NO COMMENT */

h1 {
  font-size: calc(24px + 16 * (100vw / 1280));
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(24px + (16 + 16 * 0.7) * ((100vw - 320) / 1280));
  }
}

 UPD упрощенная формула (медиа запрос не нужен):
font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));