.filter-category {


    padding-top: 50px;

    &__container {

    }

    &__category {
        max-width: 273px;
        width: 100%;
        margin-bottom: 10px;

    }

    &__find {
        margin-bottom: 10px;
        max-width: 273px;
        width: 100%;

        margin-bottom: 10px;
        color: #5375B7;
        
        transition: color 0.1s linear;
    }
    &__find:hover {
        color: #F1BD45;
    }

    &__find span {
        color: #a09e9e;
        font-size: 13px;
    }
}
.container {
}

.link-category {
    text-decoration: none;
}