.search-results {

    &__container {
        display: flex;
        align-items: center;
    }

    &__title {
    }

    &__info a {
        text-decoration: none;
        margin-left: 35px;
        color: #8B8B8B;
    }
    &__info a:hover {
        text-decoration: underline;
    }
}
.container {
}
