//Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital@0;wght@300;400&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
@font-face {
  font-family: "Arial"; 
  src: url("../fonts/arial.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

@import "normalize";
@import "components";
@import "light-section-top";
@import "dark-section-top";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}


